.row-container {
    padding: 5px 40px;
}

.isEven {
    background: #4faf5f17;
    /* border-top: 1px solid #4faf5f52; */
    /* border-bottom: 1px solid #4faf5f52; */
}

input {
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--select-border-color);
    outline: none;
    padding: 10px 15px;
    color: var(--select-color);
    background: transparent;
}

input:focus {
    color: #fff;
}

.dynamic-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 10px;
    max-width: 500px;
}

.dynamic-field label {
    text-align: right;
    margin-right: 10px;
    color: var(--select-border-color);
}

input.ng-invalid.ng-dirty.ng-touched {
    border-color: rgb(203, 50, 50);
}

@media (max-width: 620px) {
    .dynamic-field {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .row-container {
        padding: 5px 20px;
    }
}