<div class="header">
    <div class="header-innerwrapper jx-container jx-d-flex justify-content-between h-per-100">
        <div class="title jx-d-flex align-items-center h-per-100">
            <span class="jx-fs-26 jx-fw-normal" [innerHtml]="ifMobile ? mtitle : title"></span>
        </div>
        <div class="extra-links jx-d-flex align-items-center h-per-100">
            <ul class="jx-d-flex align-items-center h-per-100 jx-unstyle jx-mb-0">
                <li><a><i class="ri-user-2-line jx-fs-24"></i></a></li>
                <li><a><i class="ri-flag-line jx-fs-24"></i></a></li>
            </ul>
        </div>
    </div>
</div>