<!-- customizer start -->
<div class="customizer card" [ngClass]="{show: showCustomizer}">
    <div class="row">
        <div class="col-md-12">
            <div class="setting_wrap" (click)="toggleCustomizer()">
                <i class="eva eva-settings-2-outline animated infinite rotateInUpLeft"></i>
            </div>

            <div class="">
                <div class="card-body">
                    <h2 class="card-title">Solid Colors</h2>
                    <a name="" id="" (click)="changeBg('teal')" class="btn teal btn-circle m-2" role="button"></a>
                    <a name="" id="" (click)="changeBg('blue')" class="btn blue btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('midnight-blue')" class="btn midnight-blue btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('indigo')" class="btn indigo btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('dark-purple')" class="btn dark-purple btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('purple')" class="btn purple btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('pink')" class="btn pink btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('red')" class="btn red btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('gray')" class="btn gray btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('slate-gray')" class="btn slate-gray btn-circle m-2" role="button"></a>

                </div>
            </div>
        </div>
        <!-- end of col -->
        <div class="col-md-12">
            <div class="">
                <div class="card-body">
                    <h2 class="card-title">Gradient Colors</h2>
                    <a (click)="changeBg('gradient-purple-indigo')" class="btn gradient-purple-indigo btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-blue-red')" class="btn gradient-blue-red btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-black-blue')" class="btn gradient-black-blue btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-black-gray')" class="btn gradient-black-gray btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-steel-gray')" class="btn gradient-steel-gray btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-grade-gray')" class="btn gradient-grade-gray btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-cristal-clear')" class="btn gradient-cristal-clear btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-cool-blue')" class="btn gradient-cool-blue btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-moonlight-asteriod')"
                        class="btn gradient-moonlight-asteriod btn-circle m-2" role="button"></a>
                    <a (click)="changeBg('gradient-hervey')" class="btn gradient-hervey btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-altra-violet')" class="btn gradient-altra-violet btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-slight-ocean')" class="btn gradient-slight-ocean btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-red-sunset')" class="btn gradient-red-sunset btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-quepal')" class="btn gradient-quepal btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-lawrencium')" class="btn gradient-lawrencium btn-circle m-2"
                        role="button"></a>
                    <a (click)="changeBg('gradient-meridian')" class="btn gradient-meridian btn-circle m-2"
                        role="button"></a>
                    <!-- <a (click)="changeBg('gradient-altra-violet')" class="btn gradient-altra-violet btn-circle m-2" role="button"></a> -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of customizer -->