@each $gcolor_name,
$gcolor in $gradient-colors {
    $start-color: map-get($gcolor, start-color);
    $end-color: map-get($gcolor, end-color);
    .landing-#{$gcolor_name} {
        .header-fixed {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
        .overlay {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
        .eva {
            @include directional-gradient-eva(-29deg, $start-color, $end-color);
            // background: none;
        }
        .active>.remix {
            @include directional-gradient-eva(-29deg, $start-color, $end-color);
        }
        .cubed-logo {
            @include directional-gradient-eva(-29deg, $start-color, $end-color);
        }
        .jx-tip {
            @include jx-tip-gradient-colors($start-color, $end-color);
        }
        .themed-a-aob::after,
        .themed-a-aob::before {
            @include jx-anchor-gradient-after($start-color, $end-color);
            @include jx-anchor-gradient-before($start-color, $end-color);
        }
        .dropdown-item.active,
        .dropdown-item:active,
        .nav-pills .show>.nav-link,
        .badge-count,
        .theme-color {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
        .themed-text {
            color: $end-color !important;
        }
        .carousel-indicators li.active img {
            box-shadow: 0 2px 0 0 $end-color !important;
        }
        .mega-menu .dropdown-menu .bg-img {
            @include directional-gradient-eva(-29deg, $start-color, $end-color);
        }
        .ngu_control_button {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
        .bg-gradient {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
        .btn-gradient {
            @include directional-gradient(-29deg, $start-color, $end-color);
            color: #fff;
            border: 0px solid rgba(193, 15, 65, 0.8);
            &:hover {
                @include directional-gradient(-29deg, $start-color, $end-color);
                color: #fff;
                border: 0px solid $transparent-gradient;
            }
        }
        nav ul li ul li {
            @include directional-gradient(-29deg, $start-color, $end-color);
        }
    }
    @media (max-width: 991px) {
        .landing-#{$gcolor_name} {
            .navbar-collapse {
                @include directional-gradient(-29deg, $start-color, $end-color);
            }
        }
    }
    .#{$gcolor_name} {
        @include directional-gradient(-29deg, $start-color, $end-color);
    }
    .btn.#{$gcolor_name} {
        &:active,
        &.active {
            @include directional-gradient(-90deg, $start-color, $end-color);
        }
    }
}

@each $color_name,
$color in $solid-colors {
    .landing-#{$color_name} {
        .header-fixed {
            background: $color !important;
        }
        .overlay {
            background: $color;
        }
        .mega-menu .dropdown-menu .bg-img {
            background: linear-gradient(-29deg, $color, $color) !important;
        }
        .eva {
            background-image: linear-gradient(-29deg, $color, $color);
        }
        .cubed-logo {
            background-image: linear-gradient(-29deg, $color, $color);
        }
        .jx-tip {
            @include jx-tip-solid-colors($color, 'top');
        }
        @each $position_name,
        $position_value in $tooltip-positions {
            .jx-tip.#{$position_value} {
                @include jx-tip-solid-colors($color, $position_value);
            }
        }
        .themed-a-aob::after,
        .themed-a-aob::before {
            @include jx-anchor-solid-after($color);
            @include jx-anchor-solid-before($color);
        }
        .carousel-indicators li.active img {
            box-shadow: 0 2px 0 0 $color !important;
        }
        .dropdown-item.active,
        .dropdown-item:active,
        .nav-pills .show>.nav-link,
        .badge-count,
        .theme-color {
            background-image: selected-solid-color($color);
        }
        .themed-text {
            color: $color !important;
        }
        .active>.remix {
            background-image: linear-gradient(-29deg, $color, $color);
        }
        .ngu_control_button {
            background: linear-gradient(-29deg, $color, $color) !important;
        }
        .bg-gradient {
            background: $color;
        }
        .btn-gradient {
            background: $color;
            color: #fff;
            border: 0px solid rgba(193, 15, 65, 0.8);
            &:hover {
                background: $color;
                color: #fff;
                border: 0px solid $transparent-gradient;
            }
        }
        nav ul li ul li {
            background: $color;
        }
    }
    @media (max-width: 995px) {
        .landing-#{$color_name} {
            .navbar-collapse {
                background: $color;
            }
        }
    }
    .#{$color_name} {
        background: $color;
    }
}