<div class="intro-two jx-d-flex align-items-center justify-content-center">
    <div class="ux-tabs">
        <ul class="jx-fs-20 jx-d-flex jx-mb-1 jx-unstyle jx-px-1">
            <li class="tab-link">
                <a class="themed-a-aob active">Pending</a>
            </li>
            <li class="tab-link">
                <a class="themed-a-aob">Complete</a>
            </li>
            <li class="tab-link">
                <a class="themed-a-aob">Chargebacks</a>
            </li>
        </ul>
    </div>
</div>